/* 
Goal 1
p {
  color: white;
}

.red {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: red;
}

.green {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: green;
}

.blue {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: blue;
} */

/* Goal 2 */
p {
  color: white;
}

.red {
  display: block;
  width: 200px;
  height: 200px;
  background-color: red;
}

.green {
  display: block;
  width: 200px;
  height: 200px;
  background-color: green;
}

.blue {
  display: block;
  width: 200px;
  height: 200px;
  background-color: blue;
}