div {
    width: 200px;
    height: 200px;
}

.f1 {
    background-color: #5f9d9f;
    border: 10px solid;
    padding: 20px;
}

.f2 {
    background-color: #fed602;
    margin-left: 260px;

    border-top: 20px solid;
    border-bottom: 20px solid;
    border-left: 10px solid;
    border-right: 10px solid;
}

.f3 {
    background-color: #cc5c5b;
    border: 10px solid;
    margin-left: 40px;
}